*,
html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: ciler;
    src: url('../CHILLER.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Skranji;
}

.cerita {
    background: url(../../footage/bg_kertas_majapahit.jpg) no-repeat center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.headernyah {
    margin-bottom: 30px;
}

div p {
    font-size: 30px;
    margin: 5px;
    text-align: center;
    opacity: 0.8;

    text-shadow: 0px 0px 1px black, 0px 0px 0.5px white;
}

div p span {
    font-weight: 600;
    font-size: 20px;
    opacity: 0.8;
    text-align: center;
}

div p img {
    opacity: 0.8;
    position: relative;
    top: 0px;
    border-radius: 85px 2px 85px 2px;
    width: 350px;
    filter: drop-shadow(0px 0px 2px rgb(141, 99, 0)) blur(0.5px);
    transition: all 0.5s ease-out;
}

h1 {
    opacity: 0.7;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px rgb(147, 98, 13), 0px 0px 4px rgb(147, 98, 13);
    padding: 5px;
    font-size: 60px;
    font-family: Yatra One;
    margin-bottom: 60px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 30px;
    font-style: italic;
}

@media (max-width: 576px) {
    .headernyah {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }

    div p img {
        position: relative;
        width: 350px;
        border-radius: 2px 2px 2px 2px;
        filter: drop-shadow(0px 0px 2px rgb(141, 99, 0)) blur(0.5px);
        transition: all 0.5s ease-out;
    }

    div p {
        font-size: 15px;
    }

    div p span {
        font-weight: 600;
        font-size: 15px;
        opacity: 0.8;
        text-align: center;
    }

    div {
        padding: 0px;
    }

    .footer {
        font-size: 15px;
    }

    .isinyah {
        padding: 10px;
    }
}