:root {
    --almond: rgb(162, 120, 66);
}

@font-face {
    font-family: trebucet;
    src: url(font/trebuc.ttf);
}

@font-face {
    font-family: impak;
    src: url(font/impact.ttf);
}

*,
html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;

    overflow: hidden;

    font-family: trebucet;
}

input,
button {
    font-family: trebucet;
}

.tumpukan {
    position: absolute;
    width: 90vw;
    height: 30vh;
    background-color: red;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    font-family: impak;
    font-size: 25vw;

    text-shadow: 0px 0px 50px rgb(177, 106, 0), 0px 0px 100px yellow, 0px 0px 100px yellow, 0px 0px 100px yellow;
    -webkit-text-stroke: 2px orange;

    border-radius: 4px;
    z-index: 4;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.8s ease-out;
}

.konten,
.hasil,
.keterangan {
    z-index: 3;
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 90vw;
    height: 30vh;

    overflow: hidden;

    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px burlywood;
    transition: all 1s ease-out;
}

.hasil {
    z-index: 1;
}

.hasilnya p {
    font-weight: bold;
    color: var(--almond);
    transition: all 0.5s ease-out;
    text-align: center;
    font-size: 3.5vw;
}

.hasilnya input {
    transition: all 0.5s ease-out;

    text-align: center;
    padding: 5px;
    width: 40%;

    color: rgba(255, 255, 255, 0);

    font-size: 3.5vw;

    overflow: hidden;
}

.keterangan {
    z-index: 2;
}

.keterangan h1 {
    letter-spacing: 2px;
}

.keterangannya {
    font-size: 10vw;
    font-weight: bolder;
    letter-spacing: 2px;

    color: rgba(255, 255, 255, 0);
    text-align: center;
    transition: all 0.5s ease-out;
}

.kontennya,
.keterangannya,
.hasilnya {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
}

.header {
    height: 7vh;
}

.kolom1,
.hasilnya {
    width: 95%;
    justify-content: space-between;
    height: 7vh;
}

.kolom2 {
    width: 95%;
    justify-content: space-between;
    height: 7vh;
}

.tombol {
    height: 9vh;
}

.kontennya button {
    width: 25%;
    height: 60%;
}

.kontennya input {
    text-align: left;
    padding: 5px;
    width: 50%;

    overflow: hidden;
}

.kontennya button,
.kontennya input,
.kontennya p {
    opacity: 1;
    transition: all 0.3s ease-out;
    color: var(--almond);

    font-size: 3.5vw;
}

.kontennya button,
.kontennya input,
.hasilnya input {
    box-shadow: 0px 0px 3px 0.5px burlywood;
    border: none;
    border-radius: 3px;
    background-color: bisque;
}

.kontennya input:focus {
    border: none;
    outline: none;
}