*,
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 80vmax;
    height: 80vmax;
}

.card--satu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    width: 100%;

    gap: 5px;
}

.card--satu .nama,
.card--satu .input--nama {
    width: 50vmin;
}

.card--satu .nama {
    color: white;
    background-color: orange;
}

.card--satu .input--nama {
    background-color: wheat;
}


/* kasih jarak mank */


.card--dua {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vmax;
    height: 80vmax;

    gap: 5px;
}

.card--dua .alamat,
.card--dua .input--alamat {
    width: 50vmin;
}

.card--dua .alamat {
    color: white;
    background-color: orange;
}

.card--dua .input--alamat {
    background-color: wheat;
}


/* kasih jarak mank */


.card--tiga {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vmax;
    height: 80vmax;

    gap: 5px;
}

.card--tiga .email,
.card--tiga .input--email {
    width: 50vmin;
}

.card--tiga .email {
    color: white;
    background-color: orange;
}

.card--tiga .input--email {
    background-color: wheat;
}


/* kasih jarak mank */


.card--empat {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80vmax;
    height: 80vmax;

    gap: 5px;
}

.card--empat .password,
.card--empat .input--password {
    width: 50vmin;
}

.card--empat .password {
    color: white;
    background-color: orange;
}

.card--empat .input--password {
    background-color: wheat;
}