*,
html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    font-family: Century Gothic;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70vmin;
    padding: 5px;

    border: 2px solid rgb(255, 140, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0.5px rgba(255, 68, 0, 0.534);

    gap: 5px;

    background-color: white;
    margin: 10px 0px;
}

.container--row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 70vmin;

    padding: 5px;

    border: 2px solid rgb(255, 140, 0);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0.5px rgba(255, 68, 0, 0.534);

    gap: 5px;

    background-color: rgb(255, 213, 106);
    margin: 10px 0px;
}

.card--satu,
.card--dua,
.card--tiga,
.card--empat {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;


    width: 100%;

    gap: 5px;
}

.card--satu .nama,
.card--dua .alamat,
.card--tiga .email,
.card--empat .password {
    color: white;
    background-color: orange;
    border: 1.5px solid tomato;
    border-radius: 3px;

    width: 30%;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-grow: 0.5;
}

.card--satu .input--nama,
.card--dua .input--alamat,
.card--tiga .input--email,
.card--empat .input--password {
    background-color: wheat;
    border: 1.5px solid tomato;
    border-radius: 3px;

    width: 40%;
    font-size: 16px;

    font-family: Century Gothic;
    text-align: center;

    flex-grow: 1;
}


.tombol--kirim,
.tombol--ulang {
    position: relative;
    color: white;
    background-color: rgb(255, 104, 44);
    border: 2px solid rgb(149, 88, 19);
    border-radius: 5px;

    font-family: Century Gothic;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 10vmin;
}